{{ form.search }}
{{ form.submit }}
{{ form.title }}

{{ form.size }}

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Movie_name</th>
      <th scope="col">Movie_poster</th>
      <th scope="col">Description</th>
      <th scope="col">Release_date</th>
      <th scope="col">cast</th>
      <th scope="col">ratings</th>
    </tr>
  </thead>
  <tbody>
    {% set break = false %}
    {% for item in form.movie_result if not break %}
      {% set x=x+1 %}
      {{ x }}
      {% if x== 7 %}
        {% set break = true %}
      {% endif %}
      <tr>
        <td><a href={{ item.url_movie }}>{{ item.name }}</td>
        <td><img  width=100px src={{ item.url }} class="img-thumbnail"></td>
        <td>{{ item.desc }}</td>
        <td>{{ item.date }}</td>
        <td class="cast">
        {% for x in item.cast %}
          <a href={{ x.urls }}>{{ x.name }}</a><br>
        {% endfor %}
        </td>
        <td>{{ item.rating }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
